.vscode/
*.gc*
vgcore*
*.o
*.a
segfault.c
segfault
a.out
*mysh*
*.txt
42sh
*42sh*
tests/newtester/*42*
tests/newtester/*tutu*
tests/newtester/mysh*
tests/newtester/je*
.history*
history*
unit_tests
test.c
